
h1{color:#cf7500;
}

h3:hover{color:#3b2e5a;
  background-color: #eeeeee;
}

h3{color:#006a71;
}

h4{color:black;
}

table{background-color:#b0cac7;
}

th{color:#111d5e;
}

.face{background-color: #f0a500;
}

#mufc{background-color: #cf7500;
}
